@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.border-custom {
  border: 2px solid black;
  border-radius: 8px;
}

/*Tailwind Components for*/

@layer components {
  .btn-primary {
    @apply py-1 px-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition;
  }

  .btn-gap {
    @apply flex gap-2;
  }

  .card-box {
    @apply border-slate-200 mx-auto border-2  rounded-lg p-9 text-center flex flex-col gap-4 justify-center font-mono;
  }

  .title-header {
    @apply text-center font-bold text-6xl;
  }

  .btn-delete {
    @apply py-1 px-2 bg-rose-500 text-white font-semibold rounded-lg shadow-md hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-400 focus:ring-opacity-75 transition;
  }
}
